hr {
  border: 1px dotted #AAA;
}

p {
  font-family: Montserrat;
}

h1, h2 {
  font-family: 'Playfair Display';
}

pre {
  background-color: #EEE;
  padding: 10px 10px 10px 10px;
  font-family: monospace;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

code {
  background-color: #FFEEEE;
  color: #AA0000;
  border-radius: 4px;
  font-family: monospace;
  padding: 2px 2px 2px 2px;
}

a {
  text-decoration: none;
  color: #00AAFF;
}

#content {
  width: 40%;
  height: 100%;
  margin: auto;
  background-color: #FFF;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header {

}

#links {
  text-align: center;
  border: 1px;
}

#title {
  font-size: 40px;
  color: #999;
  font-family: monospace;
}

.link {
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Montserrat;
  color: #AAA;
}
