hr {
  border: 1px dotted #AAA;
}

body {
  font-family: Montserrat;
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: 'Playfair Display';
}

img {
  padding-top: 10px;
  padding-bottom: 10px;
}

pre {
  background-color: #fafafa;
  padding: 10px 10px 10px 10px;
  font-family: 'Source Code Pro';
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

:not(pre) > code {
  background-color: #FFEEEE;
  color: #AA0000;
  border-radius: 4px;
  font-family: 'Source Code Pro';
  padding: 2px 2px 2px 2px;
}

a {
  text-decoration: none;
  color: #00AAFF;
}

blockquote {
  margin-left: 0px;
  padding-left: 50px;
  border-left: 5px solid #AAA;
  color: #AAA;
}

tag {
  background-color: #EEEEEE;
  font-family: 'Source Code Pro';
  padding: 2px 2px 2px 2px;
  border-radius: 4px;
}

#content {
  width: 75%;
  max-width: 1000px;
  margin: auto;
  background-color: #FFF;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header {

}

#links {
  text-align: center;
  border: 1px;
}

#title {
  font-size: 40px;
  color: #999;
  font-family: 'Source Code Pro';
}

.link {
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Montserrat;
  color: #AAA;
}

.link:hover {
  color: #000;
}

.badge {
  padding-right: 8px;
}
